* {
    box-sizing: border-box;
}

header {
    padding-block: 1rem;
    border-bottom: 2px solid gray;
    margin-block-end: 1rem;
}

.addTask-wrapper {
    display: flex;
    border: 2px solid black;
    height: 2rem;
    overflow: hidden;
    border-radius: 50vw;
}

#taskInput {
    flex-grow: 1;
    border: none;
    outline: none;
    padding-inline: 1rem;
}

button[type="submit"] {
    background-color: orangered;
    border: none;
    outline: none;
    padding-inline: 1rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

button[type="submit"]:active {
    cursor: grab;
}
